body {
  margin: 0;
  padding: 0;
  color: #333;
}
.infoText{
  background: #F14946;
  height: 90vh;
  text-align: center;
  padding-top: 10%;
  color: #fff;
}
.infoText span{
  font-size: 40px;
}
.main{
  color: #333;
  text-align: center;
}





