.nav{
    width: 100%;
    /*background: #F14946;*/
    background: #ccc;
    padding: 15px 10px;
    border-bottom: 1px solid #fff;
    height: 12vh;
}
.hidden{
  visibility: hidden;
}
.navLogo{
    font-size:60px!important;
    float: left!important;
    font-family: 'Lobster', cursive;
}
.nav a{
  /*color:#fff;*/
  color: #333;
  font-size:20px;
  float: right;
  text-decoration: none;
}
 .nav i{
   /*color:#fff;*/
     color: #333;
   font-size:40px;
   float: right;
 }
.nav a:hover,.nav i:hover,.menu a:hover{
  /*color:#333;*/
  color: #F14946;
  cursor: pointer;
}
.menu{
  text-align: left;
  /*float: right;*/
  /*background: #F14946;*/
  background: #ccc;
  color: #333;
  width: 100%;
  position: relative;
}
.menu a{
  padding:0 20px;
  /*color: #fff;*/
  color: #333;
  text-decoration: none;
  font-size: 25px;

}