.img_cont{
    text-align: center;
}
.img_cont img{
    height: 260px;
    width: auto;
}
.smallImg{
    float: left;
    height: 60px!important;
}
.smallImg:hover{
    cursor: pointer;
    opacity: 0.7;
}
.bid_display{
    padding: 20px 120px 40px 120px;
    border-radius: 25px;
    background: #EBEBEB;
    float: left;
}
.bid_display input{
    font-size: 20px;
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    outline: none;
}
.bid_display button{
    margin: 5px;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    color: #fff;
    background: #EF5350;
}
.bid_display button:hover{
    color: #fff;
    background: #333;
    cursor: pointer;
}
