.profile h1{
    text-align: center;
}
.profile_info{
    text-align: center;
    padding: 20px;
    background: #EBEBEB;
    border-radius: 5px;
}
.profile_info button{
    color: #fff;
    /*background: #F14946;*/
    background: #333;    
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
}
.add_btn{
    margin-top: 20px;
    padding: 8px 80px;
    border-radius: 35px;
    font-size: 60px;
    background: #F14946;
    color: #fff;

}
.profile_info button:hover{
    background: #F14946;
    /*color: #333;*/
}
.add_btn:hover{
    background: #333;
    cursor: pointer;
}
.message_cont{
    text-align: left;
}
.message_cont button{
    background: #333;
}
.message_cont button:hover{
    background: #F14946;
}